@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  background: #070a12;
}

.plane-marker {
  background: transparent !important;
  border: none !important;
}
